<div class="row">
  <div class="col-md-6">
     <div class="img-thumbnail">
        <%= image_tag(@listing.image, style:'width:100%')%>
        <%# <%= link_to image_tag(@listing.image, style:'width:100%'), listings_path %> 
     </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <h5><%= number_to_currency(@listing.price) %></h5>
    <p><%= @listing.description %></p> <%# Style this so that it is in its own box. %>
    <p> Created by:</p>
    <p> Publication type: 
      <% @listing.types.each do |t|%>  
        <%= t.name %>
      <%end%> 
    </p>
    <p> Subject:</p>
    <p> Media: 
      <% @listing.media.each do |m|%>  
        <%= m.name %>
      <%end%> 
    </p>
    <p> In Stock: Yes/No </p>    <%# In stock if quantity is greater than 1, else out of stock %>
    <%= button_to 'Add to cart', line_items_path(listing_id: @listing), class: 'btn btn-warning add-to-cart'%>
  </div>
</div>




<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
