<div class="row">
  <div class="col-md-6">
     <div class="img-thumbnail">
        <%= image_tag(@listing.image, style:'width:100%')%>
        <%# <%= link_to image_tag(@listing.image, style:'width:100%'), listings_path %> 
     </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <h5><%= number_to_currency(@listing.price) %></h5>
    <p><%= @listing.description %></p>
    <p> Created by <%= @listing.tag_names %></p>
    <p> Format:<%= @listing.tag_names %></p>
    <p> Genre:<% @listing.genres.each do |g| %>
    <%= g.name %>
    <% end %>
    </p>
    <p> Subject:<%= @listing.tag_names %></p>
    <p> Media:<%= @listing.tag_names %></p>
    <p> In Stock: Yes/No </p>    <%# In stock if quantity is greater than 1, else out of stock %>
  </div>
</div>




<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
