<ul class="nav nav-pills flex-column">
  <li class="<%= active_page(:inbox) %> nav-item">
    <%= link_to mailbox_inbox_path, :class => 'nav-link' do  %>
        <span class="label label-danger pull-right"><%=unread_messages_count%></span>
        <em class="fa fa-inbox fa-lg"></em>
        <span>Inbox</span>
    <% end %>
  </li>
  <li class="<%= active_page(:sent)  %> nav-item">
    <%= link_to mailbox_sent_path, :class => 'nav-link' do %>
        <em class="fa fa-paper-plane-o fa-lg"></em>
        <span>Sent</span>
    <% end %>
  </li>

  <li class="<%= active_page(:trash) %> nav-item">
    <%= link_to mailbox_trash_path, :class => 'nav-link' do %>
        <em class="fa fa-trash-o fa-lg"></em>
        <span>Trash</span>
    <% end %>
  </li>

      <%= link_to "New Message", new_conversation_path, class: "btn btn-primary" %>
</ul>
